.contacts{
	padding-top: 130px;
}
.contacts__map{
	display: flex;
	gap:80px;
}
.contacts__iframe{
	flex: 0 1 50%;
	iframe{
		width: 100%;
	}
}
.contacts__map-text{
	flex: 0 1 50%;
}
.contacts__iframe iframe {
  width: 100%;
  border-radius: 8px;
}

.text-map__adress span {
  font-weight: bold;
  color: #2563eb; /* Tailwind blue-600 */
}