.footer{
	margin-top: 30px;
	background-color: rgba(0,0,0,0.4);
	/* background-color: bisque; */
	padding-block: 20px;
}
.footer__menu{
	
	display: flex;
	justify-content: space-around;
	margin-bottom: 40px;
}

.footer__info{
	text-align: center;
	font-size: 16px;
	text-align: center;
}
